body {
  background-color: #eef6f6;
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

header {
  background-color: #ADD7F6;
}

footer {
  background-color: #ADD7F6;
}

ul {
  list-style-type: none;
  margin-right: 10em;
}

h1 {
  color: #3F8EFC;
  font-family: 'Sacramento', 'cursive';
  font-size: 6rem;
}

h2, h3 {
  color: #3F8EFC;
  font-family: 'Montserrat', sans-serif;
}

li {
  margin-right: 30px;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: #3F4CFC;
}

.avatar {
  background-color: white;
  width: 66px;
  border-radius: 50%;
}

.bio-avatar {
  width: 106px;
  border-radius: 50%;
  background-color: #DDD;
}

.nav-menu-list {
  display: flex;
  margin-right: 13em;
}

.nav-image {
  position: relative;
  /* top: 100%; */
  left: 15%;
}

.nav-menu-list li {
  margin: 1em 2em 0 0;
}

.cloud, .cloud1 {
  width: 150px;
}

.header-main-name, .header-main-intro {
  text-align: center;
}

.header-main-image {
  text-align: center;
}

.relative {
  position: absolute;
  top: 30%;
  right: 10%;
}

.navbar-brand {
  margin-left: 10%;
}

.navbar {
  background-color: #ADD7F6;
}

.nav-link:hover {
  color: #3F4CFC;
}

#intro {
  color: #3F8EFC;
  font-size: 1.2rem;
}

#active {
  color: #3f4cfc;
}

#work {
  color: #3F8EFC;
}

#work:hover {
  color: #3F4CFC;
}

#note {
  color: #3F8EFC;
}

#note:hover {
  color: #3F4CFC;
}
