h2 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-weight: bold;
}

p {
    text-align: center;
}

.header-main {
    padding-bottom: 180px;
}


.description {
    max-width: 500px;
    margin: 0 auto;
}

.btn {
    background-color: #32979F;
    color: white;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.btn:hover {
    background-color: #09243d;
}

.button-div {
    text-align: center;
}

.work-first {
    background-color: #f9e284;
}

.work-first h3, .work-first h2, .work-first p {
    color: #0D3256;
}

.work-image {
    display: block;
    margin: 0 auto;
    padding-top: 70px;
    width: 50%;
    height: auto;
}

.work-title {
    margin-top: 40px;
    text-align: center;
}

.work-second {
    background-color: #2E7594;
}

.work-second h3, .work-second h2, .work-second p {
    color: white;
}

.btn-second {
    background-color: #F89E13;
}

.btn-second:hover {
    background-color: #db8300;
}

.work-third {
    background-color: #7c4a7c;
}

.btn-third {
    background-color: #0D3256;
}

.work-third h3, .work-third h2, .work-third p {
    color: black;
}

.work-fourth {
    background-color: #fc4f49;
}

.work-fourth h3, .work-fourth h2, .work-fourth p {
    color: white;
}

.btn-fourth {
    background-color: #0D3256;
}

.help-title, .help-subtitle {
    color: #3F8EFC;
    font-family: 'Montserrat', sans-serif;
}
  
.help-title {
    font-size: 40px;
}

.contact {
    margin-top: 150px;
}