h2 {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    color: white;
    font-weight: bold;
}

p {
    color: white;
    text-align: center;
}

.header-main {
    padding-bottom: 180px;
}


.description {
    max-width: 500px;
    margin: 0 auto;
}

#first {
    background-color: #26C485;
}

#first-image {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
    width: 50%;
    height: auto;
}

#first-title {
    margin-top: 40px;
    text-align: center;
}
